@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  background-color: blue;
  padding: 50;
  margin: 50;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}
.card-group{
  justify-content: center;
}
.card-grid, .card{
  padding: 5px 5px !important;
  height: auto !important;
  justify-content: center;
  margin: 1rem;
}
